* {
    margin: 0;
    box-sizing: border-box;
}

.main {
    display: flex;
    padding: 20px 0 0 20px;
    flex-wrap: wrap;
}

.article {
    width: 100px;
    height: 200px;
    margin-right: 20px;
    margin-bottom: 20px;
    background-color: gray;
}